
body{
    margin: 0px;
   
}
.card{
    height:286px;
    width: 280px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    color:black;
   
    img{
        height: 60%;
        width: 100%;
    }
   
       
   
   

}
.list{
    display: flex;
    position: absolute;
    margin-top: 200px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    Link{
        color: black;
    }   
   
    
}
